.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG #container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: none;
  overflow-x: none;
}
.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG .timeline {
  overflow-x: none;
}
.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG .brush .extent {
  stroke: #BBBBBB;
}
.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG .point {
  stroke: #DDDDDD;
  stroke-width: 1px;
}
.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG .timelineLine {
  stroke: #BBBBBB;
  stroke-width: 5px;
}
.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG .axis path {
  display: none;
}
.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG .axis line {
  fill: none;
  stroke: #DDDDDD;
  stroke-width: 1.5px;
}
.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG .axis text {
  font-family: sans-serif;
  font-size: 11px;
}
.visual-timeline1E0B9DD0A83A4E79BB5F9DE15C7690AE_DEBUG .tick:nth-child(2n) text {
  visibility: hidden;
}
